@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}

.step-container {
    transition: opacity 0.3s ease;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    display: none;
}

.step-container.active {
    opacity: 1;
    pointer-events: all;
    display: block;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #0F3D39;
    border: 2px solid white;
    cursor: pointer;
    margin-top: -9px;
    box-shadow: 0 2px 6px rgba(15, 61, 57, 0.2);
    transition: transform 0.1s;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #E7E5E4;
}

.sketch-line {
    fill: none;
    stroke: #44403C;
    stroke-width: 1.2;
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0.8;
}

.zone-spot {
    fill: transparent;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

@media (hover: hover) {
    .zone-spot:hover {
        fill: rgba(20, 184, 166, 0.1);
    }
}

.zone-spot.selected {
    fill: rgba(20, 184, 166, 0.4);
    filter: blur(4px);
}

.zone-item {
    transition: all 0.2s;
}
.zone-item.selected {
    background-color: #F0FDFA;
    border-color: #14B8A6;
    color: #0F3D39;
    font-weight: 500;
}
.zone-item.selected .indicator {
    background-color: #14B8A6;
    border-color: #14B8A6;
}

textarea {
    resize: none;
}

.input-error {
    border-color: #ef4444 !important;
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

#loading-overlay {
    backdrop-filter: blur(5px);
}

#age-inline-input {
    width: 4.5rem;
    text-align: right;
    background: transparent;
    border: none;
    outline: none;
}

.lang-dropdown {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.2s ease;
}
.group:hover .lang-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
